@import './mixins.scss';
@import './variables.scss';

body {
  background-color: $background-color;
  color: $font-border-color;
  display: flex;
  flex-direction: column;

  a {
    color: $highlight-font-color;

    &:hover {
      color: white;
      text-decoration: none;
    }
  }

  #taskFormHolder {
    position: absolute;
    z-index: 1;
    background-color: $font-border-color;
    color: $background-color;
    border-radius: 4px;
    border: 1px solid $highlight-font-color;
    justify-self: center;
    top: 25px;
    width: 350px;
    padding: 25px;
    
    button {
      margin-top: 15px;
    }
  }

  header {
    padding: 5px 15px;
    border-bottom: 1px solid $font-border-color;
    #headerLogo {
      font-size: 1.4em;
      font-weight: 600;
    }

    nav {
      ul {
        position: relative;
        top: 6px;
      }
    }
  }

  main {
    padding: 20px 10px;

    button {
      width: 110px;

      @media only screen and (max-width: 576px) {
        width: 100%;
      }

      background-color: $background-color !important;
      border-color: $font-border-color !important;
      color: $font-border-color !important;

      &:hover {
        color: $highlight-font-color !important;
        background-color: rgb(44, 44, 44) !important;
      }
    }

    h2 {
      width: 135px;
      font-size: 2em;
      font-weight: 700;
      @include afterLine;
      border-bottom: 1px solid $highlight-font-color;
    }

    #tasks {
      div {
        #taskDiv {
          background-color: $font-border-color;
          color: $background-color;
          padding: 15px;
          margin: 10px;
          border-radius: 6px;
          width: 60vw;
          min-width: 350px;

          h3 {
            @include afterLine;
            border-bottom: 1px solid $highlight-font-color;
            max-width: 50%;
          }
        }
      }
    }

    #urgentTasks {
      div {
        #taskDiv {
          background-color: rgb(255, 194, 194);
          color: $background-color;
          padding: 15px;
          margin: 10px;
          border-radius: 6px;
          width: 60vw;
          min-width: 350px;

          h3 {
            @include afterLine;
            border-bottom: 1px solid red;
            max-width: 50%;
          }
        }
      }
    }
  }
}
